@import '../../utils/utils.scss';

.overley {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  min-height: 100%;
  opacity: 0.5;
  background: $hover-color;
  z-index: -1;
}

.bacground {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  min-height: 100%;
  /* position: relative; */
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  z-index: -2;
  background: url(/img/bg_1.webp) no-repeat;
  background-size: cover;
}

.loginForm {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  padding: 20px;
  /* border: 2px solid black; */
  box-shadow: 0 0 10px $text-color;
  @media screen and (min-width: 1280px) {
    width: 500px;
  }
}
.loginButton {
  margin-top: 10px;
  cursor: pointer;
  width: 260px;
  height: 30px;
  @media screen and (min-width: 1280px) {
    width: 460px;
    height: 40px;
  }
}
.loginButton:active {
  background-color: $hover-color;
  color: white;
  border-radius: 5px;
}
.loginLabel {
  font-size: 12px;
  color: $white-color;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 10px;
  display: block;
  @media screen and (min-width: 1280px) {
    font-size: 15px;
  }
}
/* .label {
} */
.loginInput {
  display: block;
  border-radius: 5px;
  width: 260px;
  height: 30px;
  @media screen and (min-width: 1280px) {
    width: 460px;
    height: 40px;
  }
}
.loginInput:focus {
  outline: 0;
  border-radius: 5px;
  border-color: $main-color;
}

.loginH1 {
  padding-top: 100px;
  font-weight: 700;
  color: $white-color;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
  @media screen and (min-width: 1280px) {
    font-size: 80px;
  }
}
.loginP {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: $white-color;
  font-size: 13px;
  letter-spacing: 1px;
  @media screen and (min-width: 1280px) {
    font-size: 15px;
  }
}
.loginNavLink,
.loginNavLinkactive {
  text-transform: uppercase;
  font-weight: 700;
  color: $white-color;
  font-size: 13px;
  letter-spacing: 1px;
  @media screen and (min-width: 1280px) {
    font-size: 15px;
  }
}
.waitingMessage {
  width: 155px;
  margin-left: auto;
  margin-right: auto;
}
