.overley {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  min-height: 100%;
  opacity: 0.5;
  background: #222;
  z-index: -1;
}

.bacground {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  min-height: 100%;
  /* position: relative; */
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  z-index: -2;
  background: url(/img/bg_1.webp) no-repeat;
  background-size: cover;
}
.registerForm {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  padding: 20px;
  /* border: 2px solid black; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
.registerButton {
  margin-top: 10px;
  cursor: pointer;
  width: 260px;
  height: 30px;
}
.registerButton:active {
  background-color: cornflowerblue;
  color: white;
  border-radius: 5px;
}
.registerLabel {
  font-size: 12px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 10px;
  display: block;
}
/* .label {
  display: block;
} */
.registerInput {
  display: block;
  border-radius: 5px;
  width: 260px;
  height: 30px;
}
.registerInput:focus {
  outline: 0;
  border-radius: 5px;
  border-color: blue;
}
.registerH1 {
  padding-top: 100px;
  font-weight: 700;
  color: #fff;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
}
.registerP {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  font-size: 13px;
  letter-spacing: 1px;
}
.registerNavLink,
.registerNavLinkactive {
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  font-size: 13px;
  letter-spacing: 1px;
}
