.navBarLink {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    letter-spacing: 1px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
  }
  @media screen and (min-width: 1280px) {
    letter-spacing: 2px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 13px;
  }
}
.navBarLinkactive {
  color: rgb(255, 255, 255);
}

.navBarUl {
  list-style-type: none;
  display: flex;
  margin: 0px;
  padding: 20px 0px 20px 20px;
  margin-left: auto;
}
.navBarUl :not(:first-child) {
  margin-left: 20px;
}
.navBarLi {
  margin-top: auto;
  margin-bottom: auto;
}
