.div {
  text-align: center;
  padding-top: 100px;
}
.h1 {
  font-weight: 700;
  color: #fff;
  font-size: 80px;
  line-height: 1.2;
}
.p,
.navLogo,
.navReg {
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  font-size: 13px;
  letter-spacing: 1px;
}
.span1 {
  font-size: 60px;
}

.span2 {
  font-size: 20px;
  margin-top: auto;
  margin-bottom: 2px;
}
