@import '../../../utils/utils.scss';
.wrapper {
  @media screen and (min-width: 768px) {
    display: none;
  }
  width: 100%;
  padding: 20px 10px 0 0;
}
.checkMenu {
  display: none;
}
.labelCheck {
  position: absolute;
  top: 0px;
  right: 0px;

  width: 20%;
  height: 100%;
  color: $white-color;
  cursor: pointer;
  z-index: 2;
}
.burgerLineFirst,
.burgerLineSecond,
.burgerLineThird,
.burgerLineFourth {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 35px;
  height: 2px;
  background-color: $white-color;
  transition: 0.5s all;
}
.burgerLineSecond,
.burgerLineThird {
  top: 35px;
}
.burgerLineFourth {
  top: 45px;
}
.mainMenu {
  z-index: 10;
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
  transform: translateY(100%);
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  transition: $animation-timing;
}
.link {
  display: block;
  width: 100%;
  padding: 15px 0 15px 0;
  text-align: center;
  color: $white-color;
  text-decoration: none;
  border-top: 1px solid $little-text-color;
  background: $hover-color;
}
.link:active {
  color: $main-color;
}
.mainMenu:last-child {
  border-radius: 0 0 15px 15px;
}
.checkMenu:checked ~ .mainMenu {
  max-height: 500px;
  font-size: 16px;
}
.checkMenu:checked ~ .burgerLineFirst {
  display: none;
}
.checkMenu:checked ~ .burgerLineSecond {
  transform: rotate(45deg);
}
.checkMenu:checked ~ .burgerLineThird {
  transform: rotate(-45deg);
}
.checkMenu:checked ~ .burgerLineFourth {
  display: none;
}
.spanCheck {
  float: right;
  padding-top: 28px;
  padding-right: 80px;
}
