
.userMenuButton {
  background: none;
  border: none;
  cursor: pointer;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';

  color: rgba(255, 255, 255, 0.9);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-size: 12px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 13px;
  }
}
.divUserMenu {
  margin-top: auto;
  margin-bottom: auto;
  @media screen and (min-width: 768px) {
    margin-right: 25px;
    margin-left: 10px;
  }
  @media screen and (min-width: 1280px) {
    // margin-right: 25px;
    margin-left: 25px;
  }
}
