@import '../../../utils/utils.scss';
.navLink {
  font-size: 13px;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-left: 25px;
  padding-right: 25px;
  color: $white-color;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
}
.navLink:hover {
  @media screen and (min-width: 1280px) {
  color: rgba(225, 225, 225, 0.8);
  }
}
.navLinkactive {
  color: $main-color;
}

.navUl {
  margin-top: auto;
  margin-bottom: auto;
  list-style-type: none;
  display: flex;
  padding: 20px 20px 20px 20px;
}
.navUl :not(:first-child) {
  margin-left: 20px;
}
