@import '../../utils/utils.scss';

.container {
  background-color: $main-color;
  @media screen and (min-width: 320px) {
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr;
  }
  @media screen and (min-width: 768px) {
    padding: 30px;
  }
  @media screen and (min-width: 1280px) {
    padding: 50px;
    grid-template-columns: 2fr 1fr;
  }
}

.main_info {
  @media screen and (min-width: 320px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 0;
    margin-right: 15px;
  }
  & h2 {
    @extend %text-throw;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    font-family: $oldStandart;
    color: $text-color;
    text-align: start;
    margin-bottom: 5px;
    @media screen and (min-width: 768px) {
      font-size: 24px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 26px;
    }
  }

  & p {
    @extend %text-throw;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    line-height: 1.8;
    color: $little-text-color;
    text-align: center;
    padding: 15px;
    
    @media screen and (min-width: 320px) {
      font-size: 16px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    @media screen and (min-width: 768px) {
      font-size: 18px;
    }
  }
}

.img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.button {
  @extend %button-throw;
  display: block;
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: $text-color;
  transition: $animation-timing;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  &:hover, &:focus {
    transform: scale(1.02);    
    background-color: $white-color;    
  }
}

.reviews_title {
  font-style: italic;
  color: $text-color;
  font-size: 20px;
  margin: 0;
  text-align: center;
  margin-bottom: 15px;
}
.list {
  @extend %list-throw;
  color: $text-color;
  font-family: $nunito;
  margin-bottom: 20px;
}
.list_item {
  @media screen and (min-width: 320px) {
    padding: 5px;
    border-bottom: 1px solid grey;
  }
  @media screen and (min-width: 768px) {
    padding: 10px;
  }
  @media screen and (min-width: 1280px) {
    padding: 15px;
  }
}

.review_author {
  font-family: $oldStandart;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 0;
}

.add_title {
    font-style: italic;
  font-size: 20px;
  margin: 0;
  text-align: center;
  margin-bottom: 20px;
}

.input {
  @extend %input-throw;
  transition: $animation-timing;
  border: 2px solid transparent;
  border-radius: 15px;
  @media screen and (min-width: 320px) {
    margin-bottom: 10px;
    padding: 10px 0px 10px 10px;   
  }
  
  @media screen and (min-width: 1280px) {
    margin-bottom: 25px;
  }
  &:focus {
    border: 2px solid $hover-color;
  }
}

.textarea {
  @extend %input-throw;  
  width: 100%;  
  border: 2px solid transparent;
  transition: $animation-timing;
  border-radius: 15px;
  resize: none;
  @media screen and (min-width: 320px) {
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 20px;
    
  }
  &:focus {
    border: 2px solid $hover-color;
  }
}
.appear {  
  opacity: 0.1;
}
.appearActive { 
  opacity: 1;
  transition: all 500ms ease-in;
}